.inner {
    width: 1200px;
    margin: 0 auto;
}

.top_banner {
    padding: 40px 0;
    background: #f7f7f7;
}

.top_banner .inner {
    position: relative;
}

.top_banner i {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 30px;
}

.top_banner h2 {
    font-size: 40px;
    font-weight: 500;
    margin: 0 0 10px 0;
}

.top_banner a {
    padding: 5px 20px;
    background: #333;
    color: #fff;
    margin: 0 0 15px;
}

header h1 {
    font-size: 0;
}

header .inner {
    display: flex;
    justify-content: space-between;
    line-height: 100px;

}

header .inner ul {
    display: flex;
    gap: 40px;
}

header .inner ul>li {
    position: relative;
}

header .inner ul>li~li::before {
    content: "";
    position: absolute;
    top: 44px;
    left: -20px;
    width: 2px;
    height: 12px;
    background: #666;
}

/* hover 이용 */
/* .test_hover01 .inner {
    display: flex;
    gap: 30px;
}

.test_hover01 .inner figure {
    flex: 1;
    overflow: hidden;
}

.test_hover01 .inner .box {
    overflow: hidden;
}

.test_hover01 .inner figure img {
    transition: 0.5s;
}

.test_hover01 .inner figure:hover img {
    transform: scale(1.5);
}

.test_hover02 .inner {
    display: flex;
    gap: 30px;
}

.test_hover02 .inner figure {
    position: relative;
    flex: 1;
    overflow: hidden;
}

.test_hover02 .inner .cart {
    position: absolute;
    bottom: -100px;
    right: 0;
    font-size: 50px;
    transition: 0.5s;
}

.test_hover02 .inner figure:hover .cart {
    bottom: 0;
}

.test_hover03 {
    padding: 100px 0;
}

.test_hover03 .inner {
    display: flex;
    gap: 30px;
}

.test_hover03 figure {
    position: relative;
    overflow: hidden;
}

.test_hover03 figure .txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
}

.test_hover03 figure .txt::before {
    content: "";
    position: absolute;
    top: 0;
    left: -400px;
    width: 100%;
    height: 2px;
    background: #333;
    transition: 0.5S;
}

.test_hover03 figure:hover .txt::before {
    left: 0;
}

.test_hover03 figure .txt::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 400px;
    width: 100%;
    height: 2px;
    background: #333;
    transition: 0.5S 0.5S;
}

.test_hover03 figure:hover .txt::after {
    left: 0;
}

.test_hover03 figure span {
    opacity: 0;
    transition: 0.5S 1S;
}

.test_hover03 figure:hover span {
    opacity: 1;
} */

.slick-track,
.slick-list {
    transition-duration: 5ms;
}

.main_visual {
    position: relative;
}

.main_visual .num {
    position: absolute;
    top: 100px;
    left: 50%;
    margin: 0 0 0 600px;
    transform: translateX(-100%);
    font-size: 100px;
    font-weight: 700;
    color: #fff;
    text-shadow: 0 0 3px #000;
}

.main_visual .main_slide figure {
    height: 700px;
}

.main_visual .main_slide .itm01 {
    background: url(../img/mainvisual01.jpg) no-repeat center center/cover;
}

.main_visual .main_slide .itm02 {
    background: url(../img/mainvisual02.jpg) no-repeat center center/cover;
}

.main_visual .main_slide .itm03 {
    background: url(../img/mainvisual03.jpg) no-repeat center center/cover;
}

.main_visual .main_slide .slick-arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;

    font-size: 0;
    width: 100px;
    height: 100px;

    background: transparent;
    border: none;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
}

.main_visual .main_slide .slick-prev {
    transform: translate(-50%, -50%) rotate(-45deg);
    margin: 0 0 0 -700px;
}

.main_visual .main_slide .slick-next {
    transform: translate(-50%, -50%) rotate(135deg);
    margin: 0 0 0 700px;
}

.main_visual .main_slide .slick-dots {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%)
}

.main_visual .main_slide .slick-dots li {
    display: inline-block;
    font-size: 0;
    padding: 10px 0;
}

.main_visual .main_slide .slick-dots li button {
    position: relative;
    width: 60px;
    height: 4px;
    background: #333;
    border: none;
    margin: 0 4px;
}

.main_visual .main_slide .slick-dots li button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #f00;

}

.main_visual .main_slide .slick-dots li.slick-active button::after {
    width: 100%;
    transition: 2s;
}

/* .main_visual .main_slide .slick-dots li.slick-active button {
    background: #f00;
} */

.main_visual .btn {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1200px;
    display: flex;
    background: tomato;
    line-height: 40px;
    color: #fff;
    text-align: center;
}

.main_visual .btn li {
    flex: 1;
}

.main_visual .btn li.on {
    background: #f00;
}

.main_visual .btn li~li {
    border-left: 1px solid rgba(255, 255, 255, 0.5);
}